<html>
    <head>
        <meta charset="utf-8">
        <title>NLP search</title>
    </head>
    <body>
      <h1>TIRAMISU Search Engine</h1>
      <h2>Search for documents:</h2>
        <!--Reload the page with variable "query" in the URL-->
        <form>
            <input type="text" name="query" value="{{ query }}"autofocus>
            <input type="submit" value="Search">
            <input type="radio" id="boolean_search" name="search_type" value="boolean_search" {% if search_type == "boolean_search" %} checked {% endif %}>
            <label for="boolean_search">Boolean search</label>
            <input type="radio" id="ranking_search" name="search_type" value="ranking_search" {% if search_type == "ranking_search" %} checked {% endif %}>
            <label for="ranking_search">Relevance ranking search</label>
        </form>
	<div id="error_message">{{ error }}</div>
	<!--<h4>{{ docs_total }} matching documents in total.</h4>-->
	<h3>Matching documents:</h3>
        <table>
            <!--Go through each item in the "matches" variable sent from
                search() function in the Flask app-->
            {% for item in matches %}
            <div>
                <!--Display the name of the item based on the "name" key-->
                <h4>{{ item["name"] }}</h4>
		<h4>{{ item["score"] }}</h4>
                <!--Display the contents of the item based on the "source" key-->
                <pre>{{ item["text"] }}</pre>
            </div>
            <!--End for loop-->
            {% endfor %}
        </table>
    </body>
</html>
